.features {
  padding: 40px 20px;
  background-color: #111;
  text-align: center;
}

.features-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: left;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
}

.feature-box {
  background-color: #222;
  padding: 20px;
  width: 250px;
  border-radius: 5px;
  text-align: left;
}

.feature-box h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}