.footer {
  background-color: #111;
  padding: 60px 20px;
  color: #aaa;
  text-align: center;
}

.footer-signup {
  margin-bottom: 50px;
}

.footer-heading {
  font-size: 1.6rem;
  margin-bottom: 25px;
  color: white;
}

.footer-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-form input {
  padding: 16px;
  width: 300px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.footer-form button {
  padding: 16px 24px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.footer-contact {
  grid-column: span 4;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 30px;
  max-width: 1000px;
  margin: 0 auto 30px;
  text-align: left;
}

.footer-links a,
.footer-contact {
  color: #aaa;
  text-decoration: none;
  font-size: 1rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-end {
  font-size: 1.2rem;
  color: #ffff;
  margin-top: 20px;
}